<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365874656451-nr5864thbmre39k6evlitu3hnj3ti79i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365874656451-nr5864thbmre39k6evlitu3hnj3ti79i</string>
	<key>API_KEY</key>
	<string>AIzaSyCPOiUpO0gfN9be3bKNFz6DuSBDaXAIN-I</string>
	<key>GCM_SENDER_ID</key>
	<string>365874656451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diem</string>
	<key>PROJECT_ID</key>
	<string>diem-ded38</string>
	<key>STORAGE_BUCKET</key>
	<string>diem-ded38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365874656451:ios:d461db6ca2ca6278041e76</string>
</dict>
</plist>